.frame__col-progress {
  height: 60px;
  display: grid;
  place-items: center;
}

.circular-progress {
  /* --- Change the var below to see progress bar's animation --- */
  --tasks-completed: 0;
  --size: 100%;
  --half-size: calc(var(--size) / 2);
  --stroke-width: 4px;
  --radius: calc((var(--size) - var(--stroke-width)) / 2);
  --circumference: calc(var(--radius) * pi * 2);
  --dash: calc((var(--progress) * var(--circumference)) / 100);
  animation: progress-animation 2s linear 0s 1 forwards;
}

.circular-progress circle {
  cx: var(--half-size);
  cy: var(--half-size);
  r: var(--radius);
  stroke-width: var(--stroke-width);
  fill: none;
  stroke-linecap: round;
}

.circular-progress circle.bg {
  stroke: hsla(0, 0%, 100%, 0.5);
  stroke-width: calc(var(--stroke-width) / 2);
}

.circular-progress circle.fg {
  transform: rotate(-90deg);
  transform-origin: var(--half-size) var(--half-size);
  stroke-dasharray: var(--dash) calc(var(--circumference) - var(--dash));
  transition: stroke-dasharray 0.3s linear 0s;
  stroke: #fff;
}

@property --progress {
  syntax: "<number>";
  inherits: false;
  initial-value: 0;
}

@keyframes progress-animation {
  from {
    --progress: 0;
  }
  to {
    --progress: calc((100 / 7 * var(--tasks-completed) + 2));
  }
}

.frame__progress-label {
  position: absolute;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
}
