@import "~bootstrap/scss/bootstrap";

$font: "Inter", sans-serif;
$font-color-main: #fff;
$font-color-button: #4777ed;
$container-bg: #3579f5;
$badge-bg: #2364db;
$button-bg: #f4f8ff;

.frame {
  background-color: $container-bg;
  border-radius: 10px;
  width: 743px;
  height: 91px;
  color: $font-color-main;
  font-family: $font !important;
  padding: 12px 22px;
  margin-top: 5rem;

  &__row {
    width: 100%;
    height: 100%;
  }

  &__col-text {
    padding-left: 16px;
  }

  &__badge {
    --bs-badge-font-weight: 400;
    --bs-badge-font-size: 12px;
    --bs-badge-padding-x: 13px;
    --bs-badge-padding-y: 0;
    --bs-badge-border-radius: 40px;
    background-color: $badge-bg !important;
    margin-bottom: 4px;
    line-height: 18px;
  }

  &__heading {
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 4px;
  }

  &__text {
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
  }

  &__col-button {
    padding-left: 68px;
  }

  &__button.btn {
    --bs-btn-color: #4777ed;
    --bs-btn-bg: #f4f8ff;
    --bs-btn-border-color: #f4f8ff;
    --bs-btn-hover-color: #4777ed;
    --bs-btn-hover-bg: #f4f8ff;
    --bs-btn-hover-border-color: #f4f8ff;
    --bs-btn-active-color: #4777ed;
    --bs-btn-active-bg: #f4f8ff;
    --bs-btn-active-border-color: #f4f8ff;
    --bs-btn-border-radius: 6px;
    --bs-btn-font-weight: 400;
    --bs-btn-font-size: 14px;
    --bs-btn-padding-x: 25px;
    --bs-btn-padding-y: 10px;
  }
}
